# App URL
NEXT_PUBLIC_APP_URL="your-app-url"

# GitHub Contribution Chart API
GITHUB_CONTRIBUTIONS_API_URL=https://github-contributions-api.jogruber.de

# GitHub API
GITHUB_API_TOKEN="your-token"

# Cloudflare Analytics
NEXT_PUBLIC_CF_BEACON_TOKEN="your-token"